.jeopardbox{
  border: 2px solid black;
  display: inline-block;
  width: 15%;
  height: 1000px;
}
.category{
  border: 2px solid blue;
  height: 20px;
  padding: 10%;
  margin: 0;
}
.question{
  border: 2px solid grey;
  height: 20px;
  padding: 10%;
  margin: 0;
}
.show{
  display:block;
}
.hide {
  display: none;
}
